.DS_Store
*~
.import/
logs/
.~lock.*#
.mono/
*.zip
TEMP/
#export_presets.cfg
logs/
.godot/
CSharp/
GDScript/
Node2D.gd
Node2D.tscn
Node.gd
Node.tscn
Resources/
mono_crash*
temp_gdscript.gd

# Config or produced files
classes.txt
results.txt
simple_things.txt
timer.txt
settings.txt
test_resources/
test_gdscript/
memory_usage.txt
