.DS_Store
*~
.import/
logs/
.~lock.*#
.mono/
*.zip
TEMP/
#export_presets.cfg
logs/
.godot/
CSharp/
GDScript/
Node2D.gd
Node2D.tscn
Resources/
mono_crash*

# Config
classes.txt
results.txt
simple_things.txt
